:root {
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
  }
* {
    font-family: "Epilogue", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .outlined-btn,
.transparent-btn {
  padding: 1rem 2rem;
  border-radius: 15px;
  color: var(--Medium-Gray);
  cursor: pointer;
  background-color: transparent;
}
.transparent-btn {
  border: none;
}
.transparent-btn:hover {
  color: var(--Almost-Black);
  font-weight: 700;
}
.outlined-btn {
  border: 1px solid var(--Almost-Black);
}
.outlined-btn:hover {
  color: var(--Almost-Black);
  font-weight: 700;
}
.primary-btn {
  background-color: var(--Almost-Black);
  width: 150px;
  padding: 1rem 2rem;
  color: var(--Almost-White);
  border-radius: 10px;
  cursor: pointer;
}
.primary-btn:hover {
  background-color: var(--Almost-White);
  border: 1px solid var(--Almost-Black);
  color: var(--Almost-Black);
}

/* NAVBAR */
nav {
    height: 80px;
    display: flex;
    align-items: center;
  }
  .nav-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding-inline: 3rem;
  }
  .nav-left {
    display: flex;
    align-items: center;
  }
  .nav-right{
    display: inherit;
  }
  .nav-links {
    display: flex;
    margin-left: 4rem;
    list-style: none;
    gap: 2.5rem;
  }
  .nav-links li {
    cursor: pointer;
    color: var(--Medium-Gray);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
  }
  .nav-links li:hover {
    color: var(--Almost-Black);
  }
  
  .hamburger {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .sub-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: white;
    gap: 1rem;
    padding: 1rem;
    border-radius: 10px;
  }
  .one {
    bottom: -170px;
    right: 0;
  }
  .two {
    bottom: -136px;
  }
  .sub-menu .sub-link {
    display: flex;
    align-items: center;
    width: 150px;
    gap: 0.5rem;
  }
  .active .arrow {
    transform: rotate(180deg);
    transition: 0.2s;
  }
  .active-menu {
    display: flex !important;
  }


 /* MAIN SECTION */


  .main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    margin-inline: auto;
    gap: 5em;
  }
  .main-heading {
    font-size: 4rem;
  }
  .main-content {
    font-size: 18px;
    color: var(--Medium-Gray);
  }
  .main-left{
    display: flex;
    flex-direction: column;
    padding-block: 2em;
    gap: 50px;
    max-width: 750px;
    justify-content: space-between;
  }
  .main-right img{
    width: 500px;
  }
  .logoes{
    display: flex;
align-items: center;
justify-content: space-between;
  }


  @media screen and (max-width: 800px) {
    .nav-container {
      padding-inline: 1rem;
    }
    .hamburger {
      display: flex;
      cursor: pointer;
    }
    .mobile-menu {
      display: none;
      flex-direction: column;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 70%;
      background-color: var(--Almost-White);
      padding: 5rem 2rem;
    }
    .mobile-links {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      list-style: none;
    }
    .mobile-links li {
      display: flex;
      color: var(--Medium-Gray);
      flex-direction: column;
      cursor: pointer;
    }
    .mobile-links li p {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    .mobile-sub {
      display: none;
      flex-direction: column;
      gap: 1rem;
      margin: 1rem;
    }
   
    .nav-links {
      display: none;
    }
    .nav-right {
      display: none;
    }
   
    .main-container {
      display: flex;
      flex-direction: column-reverse;
    }
    .main-left {
        flex-direction: column;
        border: 2px solid red;
      align-items: center;
      text-align: center;
      gap: 3em;
      margin-bottom: 5em;
    }
   
    .main-right img{
          width:100% ;        
    }
    .main-heading {
      font-size: 3rem;
    }
    .main-heading br {
      display: none;
    }
    .main-content{
        font-size: 1.5em;
    }
    .logoes {
      width: 100%;
      justify-content: space-around;
      padding-inline: 1rem;
      flex-wrap: wrap;
    }
  }
  
